<div class="datepicker-wrapper">
    <md-input [type]="'text'">
        <button md-icon-button md-suffix (click)="open()"> <!-- todo stop click propagation -->
            <md-icon>event</md-icon>
        </button>
    </md-input>
    <div class="datepicker z-depth-1-half" [class.opened]="opened" [ngSwitch]="pickerMode">
        <div class="datepicker-header">
            <span class="year">{{currentDate | date:'y'}}</span><br>
            <span class="date">{{currentDate | date:'E d MMM'}}</span>
        </div>
        <yearpicker *ngSwitchCase="'year'"></yearpicker>
        <daypicker *ngSwitchDefault></daypicker>
        <div class="datepicker-footer">
            <button md-button>Cancel</button>
            <button md-button>OK</button>
        </div>
    </div>
</div>
