@import '../../../../sass/theming';

datepicker {
    display: block;

    .datepicker-wrapper {
        display: block;
        position: relative;

        md-input-container {
            width: 100%;
        }

        .datepicker {
            overflow: hidden;
            display: block;
            visibility: hidden;
            z-index: 10000;
            position: fixed;
        }
        .datepicker.opened {
            visibility: visible;
        }

        .datepicker-header {
            @extend .color-primary;
            color: $primary-light;
            padding: 10px 15px;

            .year {
                font-size: 0.8em;
            }
            .date {
                font-size: 1.4em;
            }
        }

        .datepicker-footer {
            background-color: $background-white;
        }

        .daypicker-header {
            .month {
                line-height: 40px;
                display: inline-block;
                width: calc(100% - 80px);
                text-align: center;
            }
        }

        .daypicker-body {
            background-color: $background-white;
            thead {
                border: none;
            }
            thead td {
                color: $secondary-dark;
            }
            td {
                padding: 0;
            }
            td span {
                display: block;
                width: 40px;
                height: 40px;
                padding: 0;
                text-align: center;
                line-height: 40px;
            }

            tbody td span.disabled {
                color: $disabled-dark;
            }

            tbody td span.active {
                border-radius: 50%;
                @extend .color-primary;
            }

            tbody td span:hover:not(.disabled) {
                border-radius: 50%;
                cursor: pointer;
                @extend .color-accent;
            }
        }

    }
}
