<div class="daypicker-header">
    <button md-icon-button class="left" (click)="changeMonth(-1)"><md-icon>navigate_before</md-icon></button>
    <span class="month left">{{ monthLabel }}</span>
    <button md-icon-button class="left" (click)="changeMonth(1)"><md-icon>navigate_next</md-icon></button>
</div>
<div class="daypicker-body">
    <table [@daypickerAnimation]="animate">
        <thead>
            <tr>
                <td *ngFor="let day of dayLabels"><span>{{day | slice:0:1}}</span></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let date of row">
                    <span *ngIf="date" (click)="selectDay(date)"
                    [ngClass]="setDateSpanClasses(date)">{{date | date:'d' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
