@import '../../../../sass/_general';

oc-collapsible {
    display: block;
    height: 100%;
    width: 100%;
}

oc-collapsible-header {
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    @extend .border-bottom;

    .oc-collapsible-header-content {
        flex-grow: 1;

        span, md-icon {
            height: 40px;
            display: block;
            line-height: 40px;
            float: left;
            padding: 0 5px;
        }
    }

    .oc-collapsible-toggle {
        height: 40px;
        md-icon {
            height: 40px;
            line-height: 40px;
            transition: all .225s ease-in-out;
        }
    }
}

.oc-collapsible-body {
    overflow: hidden;
    height: inherit;

    ul {
        height: inherit;
        overflow-y: hidden;
        li {
            overflow-y: hidden;
            @extend .border-bottom;
        }
    }

    oc-collapsible {
        overflow: hidden;
    }
}

oc-collapsible.active > oc-collapsible-header > .oc-collapsible-toggle > md-icon {
    transform: rotate(180deg);
}
