<oc-title-bar>
  <span>{{ 'i18n.modules.mark.createUpdate.' + (isEditMode() ? 'update' : 'create') + '.title' | translate }}</span>
</oc-title-bar>
<form [formGroup]="markCreateUpdateForm"
      (submit)="submit()"
      fxLayout
      fxLayoutAlign="center start">
  <mat-card fxFlex
            fxFlex.gt-sm="960px">
    <div class="form-group half responsive">
      <div class="half-child">
        <mat-form-field>
          <input matInput
                 required
                 [placeholder]="'i18n.modules.mark.createUpdate.form.value.label' | translate"
                 formControlName="value">
          <mat-error>
            <ng-template [ngIf]="markCreateUpdateForm.get('value').hasError('required')">
              {{ 'i18n.common.form.error.required' | translate }}
            </ng-template>
            <ng-template [ngIf]="markCreateUpdateForm.get('value').hasError('pattern')">
              {{ 'i18n.modules.mark.createUpdate.form.value.error.pattern' | translate }}
            </ng-template>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="half-child">
        <mat-form-field>
          <input matInput
                 required
                 [placeholder]="'i18n.modules.mark.createUpdate.form.weight.label' | translate"
                 formControlName="weight">
          <mat-error>
            <ng-template [ngIf]="markCreateUpdateForm.get('weight').hasError('required')">
              {{ 'i18n.common.form.error.required' | translate }}
            </ng-template>
            <ng-template [ngIf]="markCreateUpdateForm.get('weight').hasError('pattern')">
              {{ 'i18n.modules.mark.createUpdate.form.weight.error.pattern' | translate }}
            </ng-template>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput
               required
               [placeholder]="'i18n.modules.mark.createUpdate.form.description.label' | translate"
               formControlName="description"
               maxlength="50"
               #description>
        <mat-hint align="end">{{description.value.length}} / 50</mat-hint>
        <mat-error *ngIf="markCreateUpdateForm.get('description').hasError('required')">
          {{ 'i18n.common.form.error.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-card-actions>
      <button mat-button
              type="button"
              (click)="cancel()">
        {{ 'i18n.common.action.cancel' | translate }}
      </button>
      <button mat-raised-button
              color="primary"
              type="submit">
        {{ 'i18n.common.action.save' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
