<oc-title-bar>
    <span>{{ 'i18n.modules.mark.createUpdate.' + (isEditMode() ? 'update' : 'create') + '.title' | translate }}</span>
</oc-title-bar>
<form [formGroup]="markCreateUpdateForm" (submit)="submit()" fxFlex fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">
    <div class="form-group">
        <div class="half">
            <md-input-container>
                <input mdInput
                       [placeholder]="'i18n.modules.mark.createUpdate.form.value.label' | translate"
                       formControlName="value">
                <md-error
                    *ngIf="markCreateUpdateForm.get('value').invalid && markCreateUpdateForm.get('value').touched">
                    <ng-template [ngIf]="markCreateUpdateForm.get('value').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                    <ng-template [ngIf]="markCreateUpdateForm.get('value').hasError('pattern')">
                        {{ 'i18n.modules.mark.createUpdate.form.value.error.pattern' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
        <div class="half">
            <md-input-container>
                <input mdInput
                       [placeholder]="'i18n.modules.mark.createUpdate.form.weight.label' | translate"
                       formControlName="weight">
                <md-error
                    *ngIf="markCreateUpdateForm.get('weight').invalid && markCreateUpdateForm.get('weight').touched">
                    <ng-template [ngIf]="markCreateUpdateForm.get('weight').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                    <ng-template [ngIf]="markCreateUpdateForm.get('weight').hasError('pattern')">
                        {{ 'i18n.modules.mark.createUpdate.form.weight.error.pattern' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
    </div>
    <div class="form-group">
        <md-input-container>
            <input mdInput
                   [placeholder]="'i18n.modules.mark.createUpdate.form.description.label' | translate"
                   formControlName="description"
                   maxlength="100" #description>
            <md-hint align="end">{{description.value.length}} / 100</md-hint>
            <md-error
                *ngIf="markCreateUpdateForm.get('description').invalid && markCreateUpdateForm.get('description').touched">
                <ng-template [ngIf]="markCreateUpdateForm.get('description').hasError('required')">
                    {{ 'i18n.common.form.error.required' | translate }}
                </ng-template>
            </md-error>
        </md-input-container>
    </div>
    <div>
        <button md-button type="button" (click)="cancel()">{{ 'i18n.common.action.cancel' | translate }}</button>
        <button md-raised-button color="primary" type="submit">{{ 'i18n.common.action.save' | translate }}</button>
    </div>
</form>
