.oc-theme-menu .oc-theme-menu-title {
    padding: 5px 10px;
}

.oc-mobile-sidenav-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-area {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    .oc-side-sidenav {
        flex-shrink: 0;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }

    .app-content {
        flex-grow: 1;
        > *:not(router-outlet) {
            width: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.simple-notification-wrapper {
    bottom: 35px !important;
    right: 0 !important;
}

.lang-toggler {
    margin-top: 10px;
    padding-left: 10px;
}
