<md-sidenav-layout>
    <md-sidenav #sidenav mode="push">
        <a routerLink="/dashboard" md-button>Dashboard</a>
        <button md-button>Bla</button>
    </md-sidenav>

    <md-toolbar color="primary">
        <md-icon class="toolbar-icon" (click)="sidenav.open()">menu</md-icon>
        <a routerLink="/">{{title}}</a>
        <span class="toolbar-fill-space"></span>
        <button md-button (click)="login()">Login</button>
    </md-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <simple-notifications></simple-notifications>
</md-sidenav-layout>
