<md-sidenav-layout>
    <md-sidenav #sidenav mode="push">
        <button md-button>ABC</button>
        <button md-button>DEF</button>
    </md-sidenav>

    <md-toolbar color="primary">
        <md-icon class="toolbar-icon" (click)="sidenav.open()">menu</md-icon>
        <span>{{title}}</span>
    </md-toolbar>
    <div class="container">
        <md-input [type]="'text'" placeholder="Input"></md-input>

        <datepicker [minDate]="minDate" [maxDate]="maxDate"></datepicker>
    </div>

    <simple-notifications></simple-notifications>
</md-sidenav-layout>
