<oc-title-bar>
    <span>{{ 'i18n.error.fallback.linkTitle' | translate }}</span>
</oc-title-bar>
<div class="container" fxFlex fxFlex.gt-sm="70">
    <h3>{{ 'i18n.error.fallback.heading' | translate }}</h3>
    <div>
        <p>{{ 'i18n.error.fallback.content' | translate }}</p>
        <p>{{ 'i18n.error.fallback.hint' | translate }}
            <md-button md-button color="accent" id="mail" href="mailto:{{ 'i18n.email.support' | translate }}">
                {{ 'i18n.email.support' | translate }}
            </md-button>
        </p>
    </div>
</div>
