@import '../../../sass/color-variables';

:host {
    padding: 16px 24px;
    display: block;
}

.task-progress {
    margin: 0;
    height: 48px;
    div.progress-value {
        height: 100%;
        line-height: 48px;
    }
    md-slider {
        width: 100%;
    }
}
