<div class="dialog-header">
    <h1 md-dialog-title>{{'i18n.modules.task.add' | translate}}</h1>
</div>
<form [formGroup]="taskAddForm" (submit)="onSubmit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input md-input [placeholder]="'i18n.modules.task.dialogs.add.name.label' | translate" >
            </md-input-container>
            <!--<div class="form-error" *ngIf="institutionForm.get('name').invalid && institutionForm.get('name').dirty">
                <span *ngIf="institutionForm.get('name').getError('required')">{{'i18n.common.form.error.required' | translate}}</span>
            </div>-->
        </div>
        <div class="form-group">
            <md-input-container>
                <textarea md-input [placeholder]="'i18n.modules.task.dialogs.add.desc.label' | translate"></textarea>
            </md-input-container>
        </div>
        <div class="form-group">
            <datepicker [placeholder]="'i18n.common.label.todoDate' | translate" class="half"></datepicker>
            <datepicker [placeholder]="'i18n.common.label.dueDate' | translate" class="half"></datepicker>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input type="number" [placeholder]="'i18n.modules.task.dialogs.add.effort.label' | translate">
            </md-input-container>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button (click)="onCancel()" type="button">{{'i18n.common.action.cancel' | translate}}</button>
            <button md-raised-button color="primary" type="submit">{{'i18n.common.action.save' | translate}}</button>
        </div>
    </div>
</form>
