<div class="dialog-header">
    <h1 md-dialog-title>{{'i18n.modules.task.add' | translate}}</h1>
</div>
<form [formGroup]="taskAddForm" (submit)="onSubmit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input md-input [placeholder]="'i18n.modules.task.dialogs.add.name.label' | translate"
                       formControlName="name">
                <md-hint class="form-error" align="start"
                         *ngIf="taskAddForm.get('name').invalid && taskAddForm.get('name').touched">
                    <template [ngIf]="taskAddForm.get('name').hasError('required')">{{'i18n.common.form.error.required'
                        | translate}}
                    </template>
                </md-hint>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <textarea md-input [placeholder]="'i18n.modules.task.dialogs.add.desc.label' | translate"
                          formControlName="description"></textarea>
                <md-hint class="form-error" align="start"
                         *ngIf="taskAddForm.get('description').invalid && taskAddForm.get('description').touched">
                    <template [ngIf]="taskAddForm.get('description').hasError('required')">
                        {{'i18n.common.form.error.required' | translate}}
                    </template>
                </md-hint>
            </md-input-container>
        </div>
        <div formGroupName="dates">
            <div class="form-group half">
                <datepicker [minDate]="today" [placeholder]="'i18n.common.label.todoDate' | translate"
                            formControlName="todoDate">
                    <md-hint class="form-error" align="start"
                             *ngIf="taskAddForm.get('dates.todoDate').invalid && taskAddForm.get('dates.todoDate').touched">
                        <template [ngIf]="taskAddForm.get('dates.todoDate').hasError('required')">
                            {{'i18n.common.form.error.required' | translate}}
                        </template>
                    </md-hint>
                </datepicker>
            </div>
            <div class="form-group half">
                <datepicker [minDate]="today" [placeholder]="'i18n.common.label.dueDate' | translate"
                            formControlName="dueDate">
                    <md-hint class="form-error" align="start"
                             *ngIf="taskAddForm.get('dates.dueDate').invalid && taskAddForm.get('dates.dueDate').touched">
                        <template [ngIf]="taskAddForm.get('dates.dueDate').hasError('required')">
                            {{'i18n.common.form.error.required' | translate}}
                        </template>
                    </md-hint>
                </datepicker>
            </div>
        </div>
        <div class="form-group">
            <md-input-container>
                <input md-input type="number" [placeholder]="'i18n.modules.task.dialogs.add.effort.label' | translate"
                       formControlName="effort">
                <md-hint class="form-error" align="start"
                         *ngIf="taskAddForm.get('effort').invalid && taskAddForm.get('effort').touched">
                    <template [ngIf]="taskAddForm.get('effort').hasError('required')">
                        {{'i18n.common.form.error.required' | translate}}
                    </template>
                </md-hint>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-select formControlName="subjectId">
                <md-option *ngFor="let subject of subjects" [value]="subject.subjectId">{{subject.name}}</md-option>
            </md-select>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button (click)="onCancel()" type="button">{{'i18n.common.action.cancel' | translate}}</button>
            <button md-raised-button color="primary" type="submit">{{'i18n.common.action.save' | translate}}</button>
        </div>
    </div>
</form>
