<div class="task-list-item-header-wrapper">
    <span class="subject-letter-icon"
          [style.background-color]="'#' + task.subject.color.hex"
          [matTooltip]="task.subject.name"
          matTooltipPosition="after">
            {{ task.subject.name | slice:0:1 | uppercase }}
    </span>
    <div class="task-header-title">
        <span class="task-heading">{{ task.name }}</span>
        <span *ngIf="hasDescription"
              class="task-subheading">
            {{ task.description }}
        </span>
    </div>
    <div class="oc-filler"></div>
    <mat-icon *ngIf="isFinished(); else notFinished">done</mat-icon>
    <ng-template #notFinished>
        <button mat-icon-button color="accent" class="show-on-hover" (click)="markAsDone($event)">
            <mat-icon>done</mat-icon>
        </button>
    </ng-template>
</div>
