<div class="content">
    <router-outlet></router-outlet>
</div>
<md-toolbar>
    <div class="bottom-menu text-accent">
        <div class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <md-icon>info</md-icon>
            <span>{{ 'i18n.modules.main.linkTitles.about' | translate }}</span>
        </div>
        <div class="menu-item" routerLink="/features" routerLinkActive="active">
            <md-icon>games</md-icon>
            <span>{{ 'i18n.modules.main.linkTitles.features' | translate }}</span>
        </div>
        <div class="menu-item" routerLink="/devs" routerLinkActive="active">
            <md-icon>group</md-icon>
            <span>{{ 'i18n.modules.main.linkTitles.profiles' | translate }}</span>
        </div>
    </div>
</md-toolbar>
<!--
<div class="row">
    <div id="icon">
        <h1 class="mat-display-3">{{ 'i18n.modules.main.welcome' | translate }}</h1>
        <h5 class="mat-subheading-1">{{ 'i18n.modules.main.subtitle' | translate }}</h5>
        <img src="/assets/img/main_icon.svg">
        <h6 class="text-secondary-dark">{{ 'i18n.modules.main.authors' | translate }}</h6>
    </div>
    <div id="credit">
            <span>Icons made by
                <a class="text-secondary-dark" href="http://www.flaticon.com/authors/popcorns-arts"
                   title="Popcorns Arts">Popcorns Arts</a> from
                <a class="text-secondary-dark"
                   href="http://www.flaticon.com"
                   title="Flaticon">www.flaticon.com</a> is licensed by
                <a class="text-secondary-dark"
                   href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                   target="_blank">CC 3.0 BY</a></span>
    </div>
</div>-->
