@import '../../../sass/color-variables';
mark-weight-updater {
    height: 36px;
    .updater-wrapper {
        position: relative;
        display: block;
        height: 36px;
        vertical-align: middle;
        cursor: pointer;
        box-sizing: border-box;
        //border: 1px solid transparent;
        .non-active-container {
            height: 100%;
            line-height: 36px;
        }
    }

    &.active, .updater-wrapper:hover {
        //border-radius: 5px;
        //border: 1px solid $hover-medium;
    }

    .update-container {
        input {
            box-sizing: border-box;
            outline: none;
            //padding: 0;
            height: 36px;
            text-align: right;
            max-width: 100px;
        }
        md-input-container {
            .mat-input-infix {
                border: none !important;
            }
            .mat-input-wrapper {
                padding: 0;
                .mat-input-underline {
                    bottom: 0;
                }
            }
        }

        .control-panel {
            position: absolute;
            z-index: 990;
            top: 100%;
            background-color: whitesmoke;
        }
    }
}
