@import '../../../../sass/color';

colorpicker {
    display: block;

    .colorpicker-wrapper {
        display: block;
        position: relative;

        md-input {
            label {
                top: 14px;
                &.md-input-placeholder.md-focused {
                    top: 0;
                }
            }
        }

        .colorpicker {
            overflow: hidden;
            display: block;
            visibility: hidden;
            z-index: 10000;
            position: fixed;
        }
        .colorpicker.opened {
            visibility: visible;
        }

        .colorpicker-header {
            @extend .color-primary;
            @extend .text-primary-light;
            padding: 10px 15px;

            .year {
                font-size: 0.8em;
            }
            .date {
                font-size: 1.4em;
            }
        }

        .colorpicker-footer {
            @extend .color-background;
        }

        .colorpicker-body {
            @extend .color-background;
            thead {
                border: none;
            }
            thead td {
                @extend .text-secondary-dark;
            }
            td {
                padding: 0;
            }
            td span {
                display: block;
                width: 40px;
                height: 40px;
                padding: 0;
                text-align: center;
                line-height: 40px;
            }

            tbody td span.disabled {
                @extend .text-disabled-dark;
            }

            tbody td span.active {
                border-radius: 50%;
                @extend .color-primary;
            }

            tbody td span:hover:not(.disabled) {
                border-radius: 50%;
                cursor: pointer;
                @extend .color-accent;
            }
        }

    }
}
