<div class="colorpicker-wrapper">
    <button mat-raised-button (click)="open()">
        <span>Choose color</span>
        <mat-icon [style.color]="getSelectedColorHex()">colorize</mat-icon>
    </button>
    <div class="colorpicker z-depth-1-half" [class.opened]="opened">
        <div class="colorpicker-header">
            <h1>Choose Color</h1>
        </div>
        <div class="colorpicker-body">
            <table>
                <tr *ngFor="let row of colorRows">
                    <td *ngFor="let color of row" (click)="selectColor(color)">
                        <div class="color-ripple" mat-ripple [matRippleRadius]="20">
                            <div class="color" [style.background-color]="'#' + color.hex">
                                <mat-icon *ngIf="color == selectedColor">check</mat-icon>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="colorpicker-footer">
            <button type="button" mat-button (click)="cancel()">{{ 'i18n.common.action.cancel' | translate }}</button>
            <button type="button" mat-button (click)="submit()">{{ 'i18n.common.action.ok' | translate }}</button>
        </div>
    </div>
</div>
