@import '../../../../sass/theming';

colorpicker {
    display: block;

    .colorpicker-wrapper {
        display: block;
        position: relative;

        .colorpicker {
            overflow: hidden;
            display: block;
            visibility: hidden;
            z-index: 10000;
            position: fixed;

            &.opened {
                visibility: visible;
            }
        }

        .colorpicker-header {
            @extend .color-primary;
            color: $primary-light;
            padding: 10px 15px;

            h1 {
                margin: 0;
            }

            .year {
                font-size: 0.8em;
            }
            .date {
                font-size: 1.4em;
            }
        }

        .colorpicker-footer {
            background-color: $background-white;
        }

        .colorpicker-body {
            background-color: $background-white;
            td {
                padding: 0;
                height: 45px;
                width: 45px;

                .mat-ripple {
                    position: relative;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    float: left;
                    z-index: 1;
                    margin: 5px;
                }

                .color {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 35px;
                    width: 35px;
                    line-height: 35px;
                    border-radius: 50%;
                    display: block;
                    float: left;
                    box-sizing: border-box;

                    mat-icon {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: inherit;
                        color: $primary-light;
                    }
                }
            }
        }

    }
}
