<div class="login-wrapper">
    <img src="/assets/img/oc_logo_stroke_combined_blue.svg">
    <form>
        <mat-form-field>
            <mat-icon matSuffix>email</mat-icon>
            <input matInput
                   [placeholder]="'i18n.auth.form.email' | translate">
        </mat-form-field>
        <mat-form-field>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <input matInput
                   type="text"
                   [placeholder]="'i18n.auth.form.password' | translate">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary">
                {{ 'i18n.auth.login' | translate }}
            </button>
            <button mat-button>
                {{ 'i18n.common.action.cancel' | translate }}
            </button>
        </div>
    </form>
    <oc-divider></oc-divider>
    <button mat-raised-button class="social-login-button" (click)="login(provider.GOOGLE)">
        <img src="/assets/img/g-logo.png">
        <span>{{ 'i18n.auth.social.login.google' | translate }}</span>
    </button>
    <button mat-raised-button class="social-login-button"  (click)="login(provider.GITHUB)">
        <img src="/assets/img/github-logo.png">
        <span>{{ 'i18n.auth.social.login.github' | translate }}</span>
    </button>
</div>
