<div class="dialog-header">
    <h1 md-dialog-title>{{'i18n.modules.manage.subject.add' | translate}}</h1>
</div>
<form [formGroup]="subjectForm" (submit)="submit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input mdInput [autofocus]="false" [placeholder]="'i18n.modules.manage.subject.form.label' | translate"
                       formControlName="name">
                <md-error *ngIf="subjectForm.get('name').hasError('required')">
                    {{'i18n.common.form.error.required' | translate}}
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group">
            <colorpicker formControlName="color"></colorpicker>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button (click)="cancel()" type="button">{{'i18n.common.action.cancel' | translate}}</button>
            <button md-raised-button color="primary" type="submit">{{'i18n.common.action.save' | translate}}</button>
        </div>
    </div>
</form>
