@import '../../node_modules/@angular/material/core/theming/all-theme';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: md-palette($md-indigo, 700);
$accent:  md-palette($md-pink, A200);
$accent-dark: md-palette($md-grey, 800);

// The warn palette is optional (defaults to red).
$warn:    md-palette($md-red);

$primary-dark: rgba(0, 0, 0, 0.87);
$secondary-dark: rgba(0, 0, 0, 0.54);
$disabled-dark: rgba(0, 0, 0, 0.38);
$slightly-dark: rgba(0, 0, 0, 0.15);
$primary-light: rgb(255, 255, 255);
$secondary-light: rgba(255, 255, 255, 0.70);
$disabled-light: rgba(255, 255, 255, 0.5);

.color-primary, .md-primary {
    background-color: md-color($primary) !important;
}

.color-accent {
    background-color: md-color($accent) !important;
}

.color-accent-dark {
    background-color: md-color($accent-dark) !important;
}

.color-warn {
    background-color: md-color($warn) !important;
}

.text-primary-dark {
    color: $primary-dark;
}

.text-secondary-dark {
    color: $secondary-dark;
}
.text-disabled-dark {
    color: $disabled-dark;
}

.text-primary-light {
    color: $primary-light;
}

.text-secondary-light {
    color: $secondary-light;
}
.text-disabled-light {
    color: $disabled-dark;
}
