@import '~@angular/material/theming';
@import 'color-variables';

@mixin oc-color($palette, $hue: default) {
    background-color: mat-color($palette, $hue);
    color: mat-color($palette, '#{$hue}-contrast');
}

@mixin oc-theme-classes($primary, $accent, $warn) {
    .color-primary {
        @include oc-color($primary);
    }

    .color-primary-light {
        @include oc-color($primary, lighter);
    }

    .color-primary-dark {
        @include oc-color($primary, darker);
    }

    .color-accent {
        @include oc-color($accent);
    }

    .color-accent-light {
        @include oc-color($accent, lighter);
    }

    .color-accent-dark {
        @include oc-color($accent, darker);
    }

    /*.text-warn {
        color: mat-color($warn);
    }*/

    .text-accent {
        color: mat-color($accent);
    }
}


.color-background {
    background-color: $background-white;
}

.text-primary-dark {
    color: $primary-dark !important;
}

.text-secondary-dark {
    color: $secondary-dark !important;
}

.text-disabled-dark {
    color: $disabled-dark !important;
}

.text-primary-light {
    color: $primary-light !important;
}

.text-secondary-light {
    color: $secondary-light !important;
}

.text-disabled-light {
    color: $disabled-dark !important;
}
