@import '../../node_modules/@angular/material/theming';

$primary-dark: rgba(0, 0, 0, 0.87);
$secondary-dark: rgba(0, 0, 0, 0.54);
$disabled-dark: rgba(0, 0, 0, 0.38);
$slightly-dark: rgba(0, 0, 0, 0.15);
$primary-light: rgb(255, 255, 255);
$secondary-light: rgba(255, 255, 255, 0.70);
$tertiary-light: rgba(230, 230, 230, 0.70);
$disabled-light: rgba(255, 255, 255, 0.5);

$background-white: #f5f5f5;

$hover-dark: rgba(0, 0, 0, 0.5);
$hover-medium: rgba(0, 0, 0, 0.1);
$hover-light: rgba(0, 0, 0, 0.04);

$warn: mat-palette($mat-red);
