@import '../../node_modules/materialize-css/sass/components/color';
html {
    color: rgba(0, 0, 0, 0.87);
}

body {
    background-color: #f5f5f5 !important;
}

.margin-box {
    margin: 10px 0;
}

.toolbar-fill-space {
    flex: 1 1 auto;
}

.centered {
    position: absolute;
    margin: 0 auto;
}

.error {
    @extend .red, .darken-1;
}

.info {
    @extend .blue;
}

.success {
    @extend .green;
}

.alert {
    @extend .yellow, .darken-2;
}

md-sidenav-layout,
.md-sidenav-content {
    min-height: 100vh;
}

.toolbar-icon {
    margin: 16px 16px 16px 0;
}

.auth0-lock {
    font-family: 'Roboto', sans-serif !important;
}
