@import '~@angular/material/theming';
@import 'color-classes';
@import '../app/auth/auth-theming';
@import "../app/mark/mark-theming";

@include mat-core();

$config: mat-typography-config(
    $font-family: 'Montserrat, Roboto, "Helvetica Neue", sans-serif'
);

.mat-typography {
    .mat-subheading-1, .mat-subheading-2 {
        color: $secondary-dark;
    }
}

@include mat-base-typography($config);
@include angular-material-typography($config);
// Themes

$oc-theme: mat-light-theme($primary-palette, $accent-palette, $error-palette);
@include angular-material-theme($oc-theme);
@include auth-theme($oc-theme);
@include mark-theme($oc-theme);
@include oc-theme-classes($primary-palette, $accent-palette, $error-palette);
