@mixin mat-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

@function map_deep_get($map, $keys...) {
    @each $key in $keys {
        $map: map_get($map, $key);
    }
    @return $map;
}
