@import '../../../../sass/theming';

.oc-title-bar {
    display: flex;
    flex-direction: column;
    @extend .color-primary-light;

    * {
        color: $primary-light;
    }

    .oc-title-bar-main {
        padding: 8px 24px 0;
        position: relative;
        box-sizing: border-box;
        width: 100%;

        .oc-title-bar-title {
            position: relative;
            margin-bottom: 8px;
            min-height: 40px;
            display: flex;
            align-items: center;

            > * {
                margin: 0;
                font-size: 20px;
            }
        }
    }
}
