<oc-title-bar>
    <span>{{ 'i18n.modules.manage.subject.linkTitle' | translate }}</span>
</oc-title-bar>

<div fxLayout fxLayoutAlign="center start">
    <div class="container middle-container" fxFlex>
        <div class="flex-container">
            <span *ngIf="schoolClass && semester; else singleOrNothing"
                  class="text-secondary-dark">
                <span translate>i18n.modules.manage.subject.parents.double</span>
                <a [routerLink]="buildSchoolClassUrl()">
                    {{ schoolClass.normalizedName }}
                </a>
                <span translate>i18n.modules.manage.subject.parents.connector</span>
                <a [routerLink]="buildSemesterUrl(semester, schoolClass)">
                    {{ semester.name }}
                </a>
            </span>
            <ng-template #singleOrNothing>
                <span *ngIf="schoolClass || semester"
                      class="text-secondary-dark">
                    <span translate>i18n.modules.manage.subject.parents.single</span>
                    <a [routerLink]="schoolClass ? buildSchoolClassUrl() : buildSemesterUrl(semester, schoolClass)">
                        {{ schoolClass?.normalizedName || semester?.name }}
                    </a>
                </span>
            </ng-template>
            <div class="oc-filler"></div>
            <a mat-raised-button
               color="accent">
                {{ 'i18n.modules.manage.subject.actions.addSubject' | translate }}
            </a>
        </div>
        <mat-accordion *ngIf="subjects && subjects.length > 0; else empty">
            <mat-expansion-panel *ngFor="let subject of subjects; first as isFirst"
                                 [expanded]="isFirst">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="subject-circle"
                              [style.background-color]="subject.color.hex | color">
                        </span>
                        <span>{{ subject.name }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list>
                        <ng-template ngFor let-schoolClassSemesters let-isEven="even"
                                     [ngForOf]="getSchoolClassSemesters(subject.id)">
                            <div mat-list-item>
                                <div class="school-class-semester-list-item-content"
                                     [ngClass]="isEven ? 'manage-entity-even' : 'manage-entity-odd'">
                                    <div class="school-class-list-item">
                                        <mat-icon matListIcon
                                                  [color]="schoolClass?.id === schoolClassSemesters.schoolClass.id ? 'accent' : null">
                                            book
                                        </mat-icon>
                                        <a [routerLink]="buildSchoolClassUrl()">
                                            {{schoolClassSemesters.schoolClass.normalizedName}}
                                        </a>
                                        <span class="oc-filler"></span>
                                        <button mat-icon-button>
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                    <div *ngFor="let sem of schoolClassSemesters.semesters"
                                         class="semester-list-item">
                                        <mat-icon matListIcon
                                                  [color]="(!schoolClass || schoolClass?.id === schoolClassSemesters.schoolClass.id) && semester?.id === sem.id ? 'accent' : null">
                                            event
                                        </mat-icon>
                                        <a [routerLink]="buildSemesterUrl(sem, schoolClassSemesters.schoolClass)">
                                            {{ sem.name }}
                                        </a>
                                        <span class="oc-filler"></span>
                                        <button mat-icon-button>
                                            <mat-icon>remove_circle_outline</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-list>
                    <mat-action-row>
                        <a *ngIf="!schoolClass && !semester"
                           mat-stroked-button
                           color="accent">
                            <mat-icon>link</mat-icon>
                            <span>{{ 'i18n.modules.manage.subject.actions.addSemesterAndSchoolClass' | translate }}</span>
                        </a>
                        <span class="oc-filler"></span>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
        <ng-template #empty>
            <oc-empty placeholder="i18n.modules.manage.subject.empty"></oc-empty>
        </ng-template>
    </div>
</div>
