<oc-title-bar>
    <span>{{ 'i18n.modules.manage.subject.linkTitle' | translate }}</span>
</oc-title-bar>

<div fxLayout fxLayoutAlign="center start">
    <div class="container middle-container" fxFlex>
        <div class="flex-container">
            <span *ngIf="schoolClass && semester; else singleOrNothing" class="text-secondary-dark">
                {{ 'i18n.modules.manage.subject.parents.double' | translate:{schoolClass: schoolClass.normalizedName, semester: semester.name} }}
            </span>
            <ng-template #singleOrNothing>
                <span *ngIf="schoolClass || semester" class="text-secondary-dark">
                    {{ 'i18n.modules.manage.subject.parents.single' | translate:{value: schoolClass?.normalizedName || semester?.name} }}
                </span>
            </ng-template>
            <div class="oc-filler"></div>
            <a mat-raised-button
               color="accent">
                {{ 'i18n.modules.manage.subject.actions.addSubject' | translate }}
            </a>
        </div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let subject of subjects; first as isFirst"
                                 [expanded]="isFirst">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="subject-circle"
                              [style.background-color]="subject.color.hex | color">
                        </span>
                        <span>{{ subject.name }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="schoolyear-semester-container">
                        <mat-list>
                            <ng-template ngFor let-schoolClassSemesters let-isLast="last"
                                         [ngForOf]="getSchoolClassSemesters(subject.id)">
                                <mat-list-item>
                                    <mat-icon matListIcon
                                              [color]="schoolClass?.id === schoolClassSemesters.schoolClass.id ? 'accent' : null">
                                        book
                                    </mat-icon>
                                    <a [routerLink]="buildSchoolClassUrl()">
                                        {{schoolClassSemesters.schoolClass.normalizedName}}
                                    </a>
                                    <span class="oc-filler"></span>
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </mat-list-item>
                                <mat-list-item *ngFor="let sem of schoolClassSemesters.semesters; first as isFirst"
                                               class="semester-list-item">
                                    <mat-icon matListIcon *ngIf="isFirst"
                                              [color]="(!schoolClass || schoolClass?.id === schoolClassSemesters.schoolClass.id) && semester?.id === sem.id ? 'accent' : null">event
                                    </mat-icon>
                                    <mat-icon matListIcon *ngIf="!isFirst"></mat-icon>
                                    <a [routerLink]="buildSemesterUrl(sem)">
                                        {{ sem.name }}
                                    </a>
                                    <span class="oc-filler"></span>
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </mat-list-item>
                                <mat-divider *ngIf="!isLast"></mat-divider>
                            </ng-template>
                        </mat-list>
                    </div>
                    <mat-action-row class="schoolyear-action-row">
                        <!--<a mat-stroked-button
                           color="accent"
                           [routerLink]="[schoolYear.id, 'schoolyear']">
                            <mat-icon>add</mat-icon>
                            <span>{{ 'i18n.modules.manage.schoolYearSemester.actions.addSemester' | translate }}</span>
                        </a>-->
                        <span class="oc-filler"></span>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
