@import '../../../../sass/theming';

:host {
    z-index: 500;
    padding: 0 20px;
    height: 30px;
    @extend .color-primary;
    color: $primary-light;

    line-height: 30px;

    #info-opener {
        cursor: pointer;
    }
}
