@import '../../../../sass/_color';

:host {
    z-index: 500;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    @extend .color-primary;
    @extend .text-primary-light;

    line-height: 30px;

    #info-opener {
        cursor: pointer;
    }
}
