<oc-title-bar>
    <span>{{ 'i18n.error.fallback.linkTitle' | translate }}</span>
</oc-title-bar>
<div class="container">
    <oc-empty iconName="help_outline"
              placeholder="i18n.error.fallback.heading"
              hint="i18n.error.fallback.content">
        <span class="mat-subheading-1">{{ 'i18n.error.fallback.hint' | translate }}</span>
        <a mat-button color="accent" href="mailto:{{ 'i18n.email.support' | translate }}">
            {{ 'i18n.email.support' | translate }}
        </a>
    </oc-empty>
</div>
