@import '../../../../sass/color';

:host {
    display: flex;
    @extend .color-accent;

    * {
        @extend .text-primary-light;
    }
}

.oc-title-bar-main {
    padding: 8px 24px 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.oc-title-bar-title {
    position: relative;
    margin-bottom: 8px;
    font-size: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
}
