
@mixin manage-theme($theme) {
    $darker: map_deep_get($theme, primary, 500);
    $lighter: map_deep_get($theme, primary, 200);

    .manage-entity-even {
        border-top: 4px solid $darker;
        margin-right: 4px;
    }

    .manage-entity-odd {
        border-top: 4px solid $lighter;
        margin-left: 4px;
    }
}
