@import '../../sass/general';

manager, .manage-rows {
    height: 100%;
}

.manage-rows {
    margin: 0;

    .col {
        padding: 10px;
        height: 100%;

        .manage-entity {
            height: 100px;
            width: 100%;

            @extend .border-bottom;
        }
    }

    .entity {
        padding: 0 10px;
        height: 100%;
        box-sizing: inherit;

        .entity-desc md-icon {
            float: left;
            height: 100%;
            line-height: 50px !important;
            margin-right: 20px;
        }

        .entity-desc span {
            display: block;
            float: left;
            height: 100%;
            line-height: 50px;
        }

        .entity-menu button {
            margin: 5px 0;
        }
    }

    li {
        display: block;

        .action-button {
            padding: 10px;
            text-align: right;
        }
    }
}
