@import '../../sass/general';

manager {
    display: flex;
    flex-direction: column;
}

manager, .manage-rows {
    overflow-y: auto;
    overflow-x: hidden;
}

oc-app:not(.oc-mobile) {
    .manage-rows {
        flex-grow: 1;
        display: flex;
    }
}

.mobile-manage-nav {
    height: 50px;
    width: 100%;
    margin-bottom: 0 !important;

    div {
        &.col {
            padding: 5px;
        }
        &.mobile-title {
            height: 50px;
            text-align: center;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        button[md-button] {
            min-width: 50px;
        }
    }
}

.manage-rows {
    overflow-y: hidden;
    transition: margin-left .5s ease-in-out;
    margin: 0;
    display: flex;
    text-overflow: ellipsis;

    .manage-col {
        padding: 0 0.5rem;


        >   ul {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
        }

        .entity {
            display: flex;

            .entity-desc {
                flex-grow: 1;
            }

            entity-menu {
                flex-basis: 40px;
            }
        }
    }

    &.mobile {
        width: calc(3 * 100%);
        .mobile-col {
            padding: 10px;
            width: 33.33333333333333333%;
            float: left;
        }
    }


    .manage-entity {
        height: 100px;
        width: 100%;
        @extend .border-bottom;
    }

    .entity-info {
        padding: 15px 10px;
        span {
            margin-left: 44px;
        }
    }

    .entity {
        &:hover, &.active {
            background-color: $hover-light;
        }

        cursor: pointer;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        box-sizing: inherit;

        span, md-icon {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .entity-desc {
            //float: left;
            height: 100%;
            md-icon {
                float: left;
                height: 100%;
                line-height: 50px !important;
                margin-right: 20px;
            }

            span {
                display: block;
                float: left;
                height: 100%;
                line-height: 50px;

                &.subject-icon {
                    width: calc(44px - 2 * 10px);
                    height: calc(100% - 2 * 13px);
                    margin: 13px 10px;
                    box-sizing: border-box;
                    border-radius: 50%;
                }
            }

            entity-menu {
                float: right;
            }

            .two-line-entity {
                display: block;
                height: 100%;
                float: left;
                span {
                    display: block;
                    clear: both;
                    &.primary-text {
                        height: 30px;
                        line-height: 30px;
                    }
                    &.secondary-text {
                        font-size: .8em;
                        height: 20px;
                        line-height: 20px;
                        display: block;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .child-entity {
        height: 100%;
        overflow: hidden;
    }

    li {
        display: block;

        .action-button {
            padding: 10px;
            text-align: right;
        }
    }
}

.cdk-overlay-container {
    md-dialog-container {
        //overflow: visible;

        institution-dialog,
        school-class-dialog,
        school-year-dialog,
        semester-dialog,
        subject-dialog {
            display: block;
            box-sizing: border-box;
            //width: 500px;

            .dialog-body {
                md-input-container {
                    width: 80%;
                }
                datepicker {
                    width: 80%;
                    md-input-container {
                        width: 100%;
                    }
                }
            }

            .dialog-footer {
                .footer-right {
                    //float: right;
                    text-align: right;
                }
            }
        }
    }
}
