<div class="row manage-rows">

    <!-- FIRST COLUMN START -->
    <div class="col s4 border-right">
        <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let institution of institutionClasses?.institutions">
                <collapsible>
                    <collapsible-header>
                        <div class="entity">
                            <div class="entity-desc">
                                <md-icon class="entity-icon">business</md-icon>
                                <span>{{ institution.name }}</span>
                            </div>
                            <entity-menu></entity-menu>
                        </div>
                    </collapsible-header>
                    <collapsible-body>
                        <ul>
                            <li *ngFor="let schoolClass of institution.schoolClasses">
                                <div class="entity child-entity" (click)="selectSchoolClass(schoolClass.id)">
                                    <div class="entity-desc">
                                        <md-icon class="entity-icon">subdirectory_arrow_right</md-icon>
                                        <md-icon class="entity-icon">class</md-icon>
                                        <span>{{ schoolClass.normalizedName }}</span>
                                    </div>
                                    <entity-menu></entity-menu>
                                </div>
                            </li>
                            <li>
                                <div class="action-button">
                                    <button md-raised-button color="accent" (click)="addSchoolClass(institution.id)">
                                        <md-icon>add</md-icon>
                                        {{ 'modules.manage.schoolClass.add' | translate }}
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </collapsible-body>
                </collapsible>
            </li>
            <li>
                <div class="action-button">
                    <button md-raised-button color="accent" (click)="addInstitution()">
                        <md-icon>add</md-icon>
                        {{ 'modules.manage.institution.add' | translate }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <!-- FIRST COLUMN END -->

    <!-- MIDDLE COLUMN START -->
    <div class="col s4">
        <ul class="collapsible" data-collapsible="accordion" *ngIf="yearSemesterModel != null">
            <li *ngFor="let schoolYear of yearSemesterModel">
                <collapsible>
                    <collapsible-header>
                        <div class="entity">
                            <div class="entity-desc">
                                <md-icon class="entity-icon">date_range</md-icon>
                                <span>{{ schoolYear.name }}</span>
                            </div>
                            <entity-menu></entity-menu>
                        </div>
                    </collapsible-header>
                    <collapsible-body>
                        <ul>
                            <li *ngFor="let semester of schoolYear.semesters">
                                <div class="entity child-entity" (click)="selectSemester(semester.id)">
                                    <div class="entity-desc">
                                        <md-icon class="entity-icon">subdirectory_arrow_right</md-icon>
                                        <md-icon class="entity-icon">school</md-icon>
                                        <span>{{ semester.name }}</span>
                                    </div>
                                    <entity-menu></entity-menu>
                                </div>
                            </li>
                            <li>
                                <div class="action-button">
                                    <button md-raised-button color="accent">
                                        <md-icon>add</md-icon>
                                        {{ 'modules.manage.semester.add' | translate }}
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </collapsible-body>
                </collapsible>
            </li>
            <li>
                <div class="action-button">
                    <button md-raised-button color="accent">
                        <md-icon>add</md-icon>
                        {{ 'modules.manage.schoolYear.add' | translate }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <!-- MIDDLE COLUMN END -->

    <!-- LAST COLUMN START -->
    <div class="col s4 border-left">
        <ul class="collapsible" data-collapsible="accordion" *ngIf="subjectModel != null">
            <li *ngFor="let subject of subjectModel">
                <collapsible>
                    <collapsible-header>
                        <div class="entity">
                            <div class="entity-desc">
                                <md-icon class="entity-icon">library_books</md-icon>
                                <span>{{ subject.name }}</span>
                            </div>
                            <entity-menu></entity-menu>
                        </div>
                    </collapsible-header>
                    <collapsible-body>
                        <!--{{ subject | json }} TODO what comes here-->
                    </collapsible-body>
                </collapsible>
            </li>
            <li>
                <div class="action-button">
                    <button md-raised-button color="accent">
                        <md-icon>add</md-icon>
                        {{ 'modules.manage.subject.add' | translate }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <!-- LAST COLUMN END -->
</div>
