<div class="dialog-header">
    <h1 md-dialog-title>{{ 'i18n.modules.exam.add' | translate }}</h1>
</div>
<form [formGroup]="examCreateUpdateForm" (submit)="submit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input mdInput
                       required
                       [placeholder]="'i18n.modules.exam.dialogs.add.name.label' | translate"
                       formControlName="name">
                <md-error *ngIf="examCreateUpdateForm.get('name').invalid && examCreateUpdateForm.get('name').touched">
                    <ng-template [ngIf]="examCreateUpdateForm.get('name').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <textarea mdInput
                          [placeholder]="'i18n.modules.exam.dialogs.add.desc.label' | translate"
                          formControlName="description"></textarea>
                <md-error
                    *ngIf="examCreateUpdateForm.get('description').invalid && examCreateUpdateForm.get('description').touched">
                    <ng-template [ngIf]="examCreateUpdateForm.get('description').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group half responsive">
            <div class="half-child">
                <md-input-container>
                    <input mdInput
                           required
                           [mdDatepicker]="examDatePicker"
                           [placeholder]="'i18n.common.label.todoDate' | translate"
                           formControlName="date">
                    <button mdSuffix
                            [mdDatepickerToggle]="examDatePicker"
                            type="button"></button>
                    <md-error align="start"
                              *ngIf="examCreateUpdateForm.get('date').invalid && examCreateUpdateForm.get('date').touched">
                        <ng-template [ngIf]="examCreateUpdateForm.get('date').hasError('required')">
                            {{ 'i18n.common.form.error.required' | translate }}
                        </ng-template>
                        <ng-template [ngIf]="schoolYearForm.get('date').hasError('date')">
                            {{ 'i18n.common.form.error.datePattern' | translate }}
                        </ng-template>
                    </md-error>
                </md-input-container>
                <md-datepicker #examDatePicker [touchUi]="isMobile()"></md-datepicker>
            </div>
            <div class="half-child">
                <md-select formControlName="subjectId"
                           required
                           [placeholder]="'i18n.modules.exam.dialogs.add.subject.label' | translate">
                    <md-option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</md-option>
                </md-select>
            </div>
        </div>

        <div formArrayName="examTasks" class="form-group">
            <!-- TODO change when using material typography -->
            <h5>{{ 'i18n.modules.exam.examTask.title' | translate }}</h5>
            <button md-button
                    type="button"
                    color="accent"
                    [disabled]="examTaskArray.length >= 15"
                    (click)="addExamTask()">
                {{ 'i18n.modules.exam.examTask.add' | translate }}
            </button>
            <md-list>
                <md-list-item *ngFor="let examTask of examTaskArray.controls; let i=index" [formGroupName]="i">
                    <md-checkbox formControlName="finished"></md-checkbox>
                    <md-input-container>
                        <input mdInput formControlName="task">
                    </md-input-container>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button type="button" md-dialog-close>{{ 'i18n.common.action.cancel' | translate }}</button>
            <button md-raised-button color="primary" type="submit">{{ 'i18n.common.action.save' | translate }}</button>
        </div>
    </div>
</form>
