mat-form-field {
    width: 100%;

    textarea {
        resize: vertical;
    }
}

:host {
    .form-group {
        padding: 0 4px;
    }
}

mat-select {
    width: 100%;
}

.exam-tasks mat-checkbox[matPrefix] {
    margin-right: 8px;
}
