<div class="oc-nav-nav">
    <nav>
        <ul>
            <li>
                <a [routerLink]="'/dashboard'" md-ripple mdRippleTrigger>
                    <md-icon>dashboard</md-icon>
                    <div>{{ 'i18n.modules.dashboard.linkTitle' | translate }}</div>
                </a>
            </li>
            <li>
                <a [routerLink]="'/task'" md-ripple mdRippleTrigger>
                    <md-icon>event</md-icon>
                    <div>{{ 'i18n.modules.timetable.linkTitle' | translate }}</div>
                </a>
            </li>
            <li>
                <a [routerLink]="'/task'" md-ripple mdRippleTrigger>
                    <md-icon>filter_6</md-icon>
                    <div>{{ 'i18n.modules.exam.linkTitle' | translate }}</div>
                </a>
            </li>
            <li>
                <a [routerLink]="'/task'" md-ripple mdRippleTrigger>
                    <md-icon>poll</md-icon>
                    <div>{{ 'i18n.modules.mark.linkTitle' | translate }}</div>
                </a>
            </li>
            <li>
                <a [routerLink]="'/task'" md-ripple mdRippleTrigger>
                    <md-icon>assignment_turned_in</md-icon>
                    <div>{{ 'i18n.modules.task.linkTitle' | translate }}</div>
                </a>
            </li>
            <li>
                <a [routerLink]="'/manage'" md-ripple mdRippleTrigger>
                    <md-icon>widgets</md-icon>
                    <div>{{ 'i18n.modules.manage.linkTitle' | translate }}</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="oc-nav-collapser" *ngIf="collapsible">
    <oc-divider></oc-divider>
    <button md-button (click)="toggleNavCollapse()">
        <md-icon>chevron_left</md-icon>
    </button>
</div>
