@import '../../../sass/color';

$row-height: 40px;
$collapsed-width: 50px;
$animation-duration: .3s;

oc-nav {
    position: relative;
    transition: all $animation-duration ease-in-out;
    overflow-x: hidden;

    * {
        @extend .text-secondary-dark;
    }

    flex-basis: 200px;

    .oc-nav-nav {
        margin-top: 8px;
        nav {
            ul {
                margin: 0;
                li {
                    display: block;
                    width: 100%;
                    height: $row-height;

                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: inherit;
                        transition: background-color .15s ease-in-out;

                        div, md-icon {
                            float: left;
                            display: block !important;
                            height: 100% !important;
                            line-height: $row-height !important;
                        }

                        div {
                            width: 150px;
                            opacity: 1;
                            transition: opacity $animation-duration ease-in-out;
                        }

                        md-icon {
                            width: $collapsed-width !important;
                            text-align: center;
                        }

                        &:hover {
                            background-color: $hover-dark;
                        }

                        &.oc-nav-link-active md-icon {
                            @extend .text-accent;
                        }
                    }
                }
            }
        }
    }

    .oc-nav-collapser {
        width: 100%;
        position: absolute;
        bottom: 0;

        transition: min-width $animation-duration ease-in-out;

        button {
            transition: width $animation-duration ease-in-out;
            min-width: $collapsed-width;
            width: 100%;
            text-align: end;
            md-icon {
                transition: transform $animation-duration ease-in-out;
            }
        }
    }
}

oc-nav.oc-nav-collapsed {
    flex-basis: $collapsed-width;
    width: $collapsed-width;
    .oc-nav-nav {
        nav li div {
            opacity: 0;
        }
    }
    .oc-nav-collapser md-icon {
        transform: rotate(180deg);
    }

}
