@import '../../../sass/variables';

:host {
    width: 100%;
}

.mark-value {
    padding: 0 16px;
    width: 100%;
    md-icon {
        float: left;
        margin-right: 5px;
    }
    md-icon, span {
        display: flex;
        height: $mark-collapsible-header-height;
        line-height: $mark-collapsible-header-height;
    }
}

:host-context(oc-app.oc-mobile) {
    .mark-value {
        padding: 0;
    }
}
