<oc-divider></oc-divider>
<div fxLayout="row">
    <div class="mark-value" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="50%" fxFlex.lt-sm="40px">
            <md-icon fxFlex>{{ getIconNameByMarkValue(mark.value) }}</md-icon>
            <span fxFlex fxFlexAlign="start">{{ mark.description }}</span>
        </div>
        <div fxFlex.gt-sm fxFlex.lt-sm="40px">
            <div fxLayout="row">
                <span fxFlex
                      fxFlexAlign="end">{{ 'i18n.modules.mark.common.weight' | translate }}: {{ mark.weight }}</span>
                <span fxFlex="25%" fxFlexAlign="end"><b>{{ mark.value | number:'1.0-2' }}</b></span>
            </div>
        </div>
    </div>
    <oc-entity-menu></oc-entity-menu>
</div>
