@import '../../../../../sass/color-variables';

:host {
    display: block;
    margin-bottom: 12px;

    &.title, &.subtitle {
        margin: 0;
        font-weight: 500;
        label.data-title {
            line-height: 28px;
        }
    }
    &.data {
        margin-bottom: 10px;
        p {
            margin: 10px 0;
        }
    }

    &.show-divider {
        div.data.end {
            border-bottom: 1px solid $slightly-dark;
        }
    }
}
