<div class="form-group">
    <oc-icon-data iconName="title"
                  titleKey="i18n.modules.exam.name">
        <span class="exam-property">{{ exam.name }}</span>
    </oc-icon-data>
    <oc-icon-data *ngIf="exam.description?.length"
                  iconName="description"
                  titleKey="i18n.modules.exam.description">
        <span class="exam-property">{{ exam.description }}</span>
    </oc-icon-data>
    <oc-icon-data iconName="today"
                  titleKey="i18n.common.label.dueDate"
                  [showDivider]="exam.mark != null || exam.examTasks?.length">
        <span class="exam-property">{{ exam.date | date:'fullDate' }}</span>
    </oc-icon-data>
    <oc-icon-data iconName="poll"
                  titleKey="i18n.modules.exam.mark.title"
                  [showDivider]="exam.examTasks?.length"
                  *ngIf="exam.mark">
        <span class="exam-property">{{ exam.mark.value | markValue }}</span>
    </oc-icon-data>
    <oc-icon-data *ngIf="exam.examTasks?.length"
                  iconName="assignment_turned_in"
                  titleKey="i18n.modules.exam.examTask.title"
                  [showDivider]="false">
        <oc-icon-data-child>
            <oc-icon-data-data>
                <mat-list>
                    <mat-list-item *ngFor="let examTask of exam.examTasks">
                        <mat-checkbox class="exam-property" [checked]="examTask.finished"
                                      (change)="finishTask$.next(examTask.id)">
                            {{ examTask.task }}
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </oc-icon-data-data>
        </oc-icon-data-child>
    </oc-icon-data>
</div>
<button mat-button
        color="primary"
        (click)="onEdit.emit(exam)">
    {{ 'i18n.common.action.edit' | translate }}
</button>
<button mat-button
        (click)="onDelete.emit(exam)">
    {{ 'i18n.common.action.delete' | translate }}
</button>
<button mat-button
        color="accent"
        class="right"
        (click)="onAddMark.emit(exam)"
        *ngIf="!exam.mark">
    {{ 'i18n.modules.exam.mark.add' | translate }}
</button>
