<oc-title-bar>
    <span>{{ 'i18n.modules.manage.schoolYearSemester.linkTitle' | translate }}</span>
</oc-title-bar>

<div fxLayout fxLayoutAlign="center start">
    <div class="container middle-container" fxFlex>
        <div class="flex-container">
            <span *ngIf="schoolClass" class="text-secondary-dark">
                <!--<mat-icon>book</mat-icon>-->
                <span translate>i18n.modules.manage.schoolYearSemester.parent</span>&nbsp;
                <a [routerLink]="(activeSchoolYearId$ | async) ? ['../../../../schoolClass'] : ['../../../schoolClass']">
                    {{ schoolClass.normalizedName }}
                </a>
            </span>
            <div class="oc-filler"></div>
            <a mat-raised-button
               color="accent">
                {{ 'i18n.modules.manage.schoolYearSemester.actions.addSchoolYear' | translate }}
            </a>
        </div>
        <mat-accordion *ngIf="schoolYearSemesters && schoolYearSemesters.length > 0; else empty">
            <mat-expansion-panel *ngFor="let schoolYear of schoolYearSemesters; first as isFirst"
                                 [expanded]="((activeSchoolYearId$ | async) === schoolYear.id) || isFirst">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ schoolYear.name }}</mat-panel-title>
                    <mat-panel-description>
                        {{ schoolYear.validFrom | date }} - {{ schoolYear.validTo | date }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="schoolyear-semester-container">
                        <div *ngFor="let semester of schoolYear.semesters; even as isEven"
                             class="semester-detail"
                             [ngClass]="isEven ? 'manage-entity-even' : 'manage-entity-odd'">
                            <div class="semester-info">
                                <p>
                                    <span class="text-secondary-dark">{{ semester.validFrom | date }} - {{ semester.validTo | date }}</span>
                                    <br>
                                    {{ semester.name }}
                                </p>
                                <span>Fächer ({{ getSemesterSubjectCount(semester) }})</span>
                                <div class="oc-action-row">
                                    <a mat-icon-button
                                       [routerLink]="goToSubjectsUrl(semester.id, activeSchoolYearId$ | async)"
                                       color="primary">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        <!--{{ 'i18n.modules.manage.schoolYearSemester.actions.openSubjects' | translate }}-->
                                    </a>
                                    <a mat-icon-button
                                       color="primary">
                                        <mat-icon>add_circle_outline</mat-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="semester-actions">
                                <button mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <mat-action-row class="schoolyear-action-row">
                        <a mat-stroked-button
                           color="accent"
                           [routerLink]="[schoolYear.id, 'schoolYear']">
                            <mat-icon>add</mat-icon>
                            <span>{{ 'i18n.modules.manage.schoolYearSemester.actions.addSemester' | translate }}</span>
                        </a>
                        <span class="oc-filler"></span>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-action-row>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
        <ng-template #empty>
            <oc-empty placeholder="i18n.modules.manage.schoolYearSemester.empty"></oc-empty>
        </ng-template>
    </div>
</div>
