<div class="dialog-header">
    <h1 md-dialog-title>{{ title | translate }}</h1>
</div>
<div class="dialog-body" md-dialog-content>
    {{ message | translate }}
</div>
<div class="dialog-footer" md-dialog-actions>
    <button md-raised-button color="primary" [md-dialog-close]="result || true">{{ 'i18n.common.action.yes' | translate }}</button>
    <button md-raised-button [md-dialog-close]="false">{{ 'i18n.common.action.no' | translate }}</button>
    <button md-button md-dialog-close *ngIf="cancelable">{{ 'i18n.common.action.cancel' | translate }}</button>
</div>
