@import '../../../sass/color';

md-list-item {
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    transition: all .2s ease-in-out;
    .show-on-hover {
        transition: visibility .2s ease-in-out;
        visibility: hidden;
    }

    &:hover {
        background-color: $hover-dark;
        .show-on-hover {
            visibility: visible;
        }
    }
}

span[md-list-avatar] {
    border-radius: 50%;
    line-height: 40px;
    font-size: 1.5em;
    text-align: center;
    @extend .text-primary-light;
}
