#---
# General Configs
# contains properties which are consistent over all profiles
#---
spring:
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
product:
  version: 1.0.0

---
#---
# Main Profile definition
# This part only includes super-profiles like dev/prod/test etc.
#---
spring.profiles: development
#ignore the ugliness bc it doesn't seem to work in a different way
endpoints:
  enabled: true
spring:
  profiles:
    include: load_test_data,disable_auth_filter,h2_db
runtime:
  environment: development
---
spring.profiles: test
#ignore the ugliness bc it doesn't seem to work in a different way
spring:
  profiles:
    include: load_test_data,h2_db,mock_services
runtime:
  environment: test
#---
# Normal Profile definition
# This part includes all profiles which are used by those in the area above
#---
---
spring:
  profiles: basic_auth_security_mock
---
spring:
  profiles: h2_db
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:outcobra
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
logging:
  level:
    outcobra.server.data: debug
security:
  headers:
    frame: false
---
spring:
  profiles: mysql_database
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/outcobra_a
    username: outcobra-a
    password: <todo>
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
