<div class="container">
    <h3>Here comes some text but i currently do not know what ¯\_(ツ)_/¯</h3>
    <md-card class="oc-card">
        <md-card-content>
            <oc-collapsible>
                <oc-collapsible-header>
                    <md-icon>business</md-icon>
                    <span>{{ semesterMark.institution.name }}</span>
                </oc-collapsible-header>
                <oc-collapsible-body>
                    <oc-collapsible>
                        <oc-collapsible-header>
                            <md-icon>school</md-icon>
                            <span>{{ semesterMark.schoolClass.normalizedName }}</span>
                        </oc-collapsible-header>
                        <oc-collapsible-body>
                            <ul>
                                <li *ngFor="let subject of semesterMark.subjects">
                                    <span>{{ subject.name }}</span>
                                    <ul>
                                        <li *ngFor="let markGroup of subject.subjectMarkGroup.markGroups">
                                            <span>{{ markGroup | json }}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </oc-collapsible-body>
                    </oc-collapsible>
                </oc-collapsible-body>
            </oc-collapsible>
        </md-card-content>
    </md-card>
</div>
