@import '../../sass/color-variables';

.task-detail-row {
    margin-bottom: 20px;
}

md-input-container#task-search {
    display: block !important;
    box-sizing: border-box;
    margin: 0 20px;
    .mat-input-placeholder-wrapper {
        overflow: visible;
    }
    label {
        font-size: 25px !important;
    }
    input {
        height: 40px;
        width: 100%;
        font-size: 25px !important;
    }
}

#filter {
    margin-bottom: 20px;
    md-card {
        overflow: hidden;
    }
}

#filter-button {
    padding: 18.5px 0;
}

button[md-fab] {
    position: absolute;
    bottom: 23px;
    right: 23px;
    color: $primary-light;
}

.search-row {
    margin: 0;
}
