<oc-title-bar>
    <span>{{ 'i18n.modules.manage.schoolClasses.linkTitle' | translate }}</span>
</oc-title-bar>

<div fxLayout fxLayoutAlign="center start">
    <div class="container middle-container" fxFlex>
        <div class="flex-container">
            <div class="oc-filler"></div>
            <a mat-raised-button
               color="accent">
                {{ 'i18n.modules.manage.schoolClasses.actions.addSchoolClass' | translate }}
            </a>
        </div>
        <mat-list *ngIf="schoolClasses && schoolClasses.length > 0; else empty">
            <mat-card *ngFor="let schoolClass of schoolClasses"
                      class="oc-card"
                      mat-list-item>
                <div class="school-class-info-row">
                    <span>{{ schoolClass.normalizedName }}</span>
                    <span class="oc-filler"></span>
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="school-class-action-row">
                    <div class="manage-entity-even">
                        <span
                            class="text-secondary-dark">Semester ({{ schoolClassStats[schoolClass.id].semesters }})</span>
                        <div class="oc-action-row">
                            <a mat-icon-button
                               color="primary"
                               [routerLink]="['../schoolYear/schoolClass/', schoolClass.id]"
                               [matTooltip]="'i18n.modules.manage.schoolClasses.actions.openSemesters' | translate">
                                <mat-icon>remove_red_eye</mat-icon>
                            </a>
                            <a mat-icon-button
                               color="primary">
                                <mat-icon>add_circle_outline</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="manage-entity-odd">
                            <span
                                class="text-secondary-dark">Fächer ({{ schoolClassStats[schoolClass.id].subjects }})</span>
                        <div class="oc-action-row">
                            <a mat-icon-button
                               color="primary"
                               [routerLink]="['../subject/schoolClass/', schoolClass.id]"
                               [matTooltip]="'i18n.modules.manage.schoolClasses.actions.openSubjects' | translate">
                                <mat-icon>remove_red_eye</mat-icon>
                            </a>
                            <a mat-icon-button
                               color="primary">
                                <mat-icon>add_circle_outline</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-card>
            <ng-template #empty>
                <oc-empty placeholder="i18n.modules.manage.schoolClasses.empty"></oc-empty>
            </ng-template>
        </mat-list>
    </div>
</div>
