<oc-title-bar>
    <span>{{ 'i18n.modules.manage.classes.linkTitle' | translate }}</span>
</oc-title-bar>

<div fxLayout fxLayoutAlign="center start">
    <div class="container middle-container" fxFlex>
        <mat-card class="oc-card">
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let schoolClass of schoolClasses$ | async">
                        <span>{{ schoolClass.normalizedName }}</span>
                        <span class="oc-filler"></span>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <a mat-icon-button
                           [routerLink]="['../schoolYear/schoolClass', schoolClass.id]"
                           [matTooltip]="'i18n.modules.manage.classes.actions.openYears' | translate">
                            <mat-icon>exit_to_app</mat-icon>
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
