<div class="dialog-header">
    <h1 md-dialog-title>{{'i18n.modules.manage.semester.add' | translate}}</h1>
</div>
<form [formGroup]="semesterForm" (submit)="submit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input mdInput [autofocus]="false"
                       [placeholder]="'i18n.modules.manage.semester.form.label' | translate" formControlName="name">
                <md-error *ngIf="semesterForm.get('name').hasError('required')">
                    {{'i18n.common.form.error.required' | translate}}
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput [mdDatepicker]="validFromPicker" [min]="parent.validFrom"
                       [placeholder]="'i18n.common.label.validFrom' | translate" formControlName="validFrom">
                <button mdSuffix [mdDatepickerToggle]="validFromPicker"></button>
                <md-error *ngIf="semesterForm.get('validFrom').invalid && semesterForm.get('validFrom').touched">
                    <ng-template [ngIf]="semesterForm.get('validFrom').hasError('required')">
                        {{'i18n.common.form.error.required' | translate}}
                    </ng-template>
                    <ng-template [ngIf]="semesterForm.get('validFrom').hasError('isAfterDay')">{{getErrorText('validFrom',
                        'isAfterDay', 'afterDate')}}
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-datepicker #validFromPicker></md-datepicker>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput [mdDatepicker]="validToPicker" [min]="parent.validTo"
                       [placeholder]="'i18n.common.label.validTo' | translate" formControlName="validTo">
                <button mdSuffix [mdDatepickerToggle]="validToPicker"></button>
                <md-error *ngIf="semesterForm.get('validTo').invalid && semesterForm.get('validTo').touched">
                    <ng-template [ngIf]="semesterForm.get('validTo').hasError('required')">
                        {{'i18n.common.form.error.required' | translate}}
                    </ng-template>
                    <ng-template [ngIf]="semesterForm.get('validTo').hasError('isBeforeDay')">{{getErrorText('validTo',
                        'isBeforeDay', 'beforeDate')}}
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-datepicker #validToPicker></md-datepicker>
        </div>
        <div class="form-error"
             *ngIf="semesterForm.invalid && semesterForm.touched && semesterForm.get('validFrom').touched && semesterForm.get('validTo').touched">
            <span *ngIf="semesterForm.hasError('dateToIsBeforeDateFrom')">{{'i18n.common.form.error.dateToIsBeforeDateFrom' | translate}}</span>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button (click)="cancel()" type="button">{{'i18n.common.action.cancel' | translate}}</button>
            <button md-raised-button color="primary" type="submit">{{'i18n.common.action.save' | translate}}</button>
        </div>
    </div>
</form>
