@import '../../../../sass/general';

collapsible {
    display: block;
    height: 100%;
    width: 100%;
}

collapsible-header {
    display: block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    @extend .border-bottom;
}

collapsible-body {
    overflow: hidden;
    height: inherit;

    ul {
        height: inherit;
        overflow-y: hidden;
        li {
            overflow-y: hidden;
            @extend .border-bottom;
        }
    }
}
