@import '../../../../sass/general';

collapsible {
    display: block;
    height: 100%;
    width: 100%;
}

collapsible-header {
    display: block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    @extend .border-bottom;

    md-icon {
        float: left;
        height: 100%;
        line-height: 50px !important;
        margin-right: 20px;
    }

    span {
        display: block;
        float: left;
        height: 100%;
        line-height: 50px;
    }
}

collapsible-body {
    overflow: hidden;
    height: inherit;

    ul {
        height: inherit;
        overflow-y: hidden;
        li {
            padding: 10px;
            overflow-y: hidden;
        }
    }
}
