<div class="dialog-header">
    <h1 md-dialog-title>{{ 'i18n.modules.info.title' | translate }}</h1>
</div>
<md-dialog-content class="dialog-body">
    <icon-data iconName="build" titleKey="i18n.modules.info.build.title">
        <icon-data-child>
            <icon-data-title>{{ 'i18n.modules.info.build.time' | translate }}</icon-data-title>
            <icon-data-data><p>{{ info.build.time | date:'medium' }}</p></icon-data-data>
        </icon-data-child>
        <icon-data-child>
            <icon-data-title>{{ 'i18n.modules.info.build.artifact' | translate }}</icon-data-title>
            <icon-data-data><p>{{ info.build.artifact }}</p></icon-data-data>
        </icon-data-child>
    </icon-data>
    <icon-data iconName="undo" titleKey="i18n.modules.info.git.title" [showDivider]="false">
        <icon-data-child>
            <icon-data-title>{{ 'i18n.modules.info.git.revision' | translate }}</icon-data-title>
            <icon-data-data><p>{{ info.git.commit.id }}</p></icon-data-data>
        </icon-data-child>
        <icon-data-child>
            <icon-data-title>{{ 'i18n.modules.info.git.branch' | translate }}</icon-data-title>
            <icon-data-data><p>{{ info.git.branch }}</p></icon-data-data>
        </icon-data-child>
        <icon-data-child>
            <icon-data-title>{{ 'i18n.modules.info.git.commitTime' | translate }}</icon-data-title>
            <icon-data-data><p>{{ info.git.commit.time | date:'medium' }}</p></icon-data-data>
        </icon-data-child>
    </icon-data>
</md-dialog-content>
