<div class="dialog-header">
    <h1 md-dialog-title>{{ 'i18n.modules.manage.schoolYear.add' | translate }}</h1>
</div>
<form [formGroup]="schoolYearForm" (submit)="submit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input mdInput
                       [placeholder]="'i18n.modules.manage.schoolYear.form.label' | translate" formControlName="name">
                <md-error *ngIf="schoolYearForm.get('name').hasError('required')">
                    {{ 'i18n.common.form.error.required' | translate }}
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput [mdDatepicker]="validFromPicker"
                       [placeholder]="'i18n.common.label.validFrom' | translate" formControlName="validFrom">
                <button mdSuffix [mdDatepickerToggle]="validFromPicker" type="button"></button>
                <md-error *ngIf="schoolYearForm.get('validFrom').invalid && schoolYearForm.get('validFrom').touched">
                    <ng-template [ngIf]="schoolYearForm.get('validFrom').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-datepicker #validFromPicker></md-datepicker>
        </div>
        <div class="form-group">
            <md-input-container>
                <input mdInput [mdDatepicker]="validToPicker"
                       [placeholder]="'i18n.common.label.validTo' | translate" formControlName="validTo">
                <button mdSuffix [mdDatepickerToggle]="validToPicker" type="button"></button>
                <md-error *ngIf="schoolYearForm.get('validTo').invalid && schoolYearForm.get('validTo').touched">
                    <ng-template [ngIf]="schoolYearForm.get('validTo').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-datepicker #validToPicker></md-datepicker>
        </div>
        <div class="form-error"
             *ngIf="schoolYearForm.invalid && schoolYearForm.touched && ((schoolYearForm.get('validFrom').touched && schoolYearForm.get('validTo').touched) || isEditMode())">
            <span *ngIf="schoolYearForm.hasError('dateToIsBeforeDateFrom')">{{ 'i18n.common.form.error.dateToIsBeforeDateFrom' | translate }}</span>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button md-dialog-close>{{ 'i18n.common.action.cancel' | translate }}</button>
            <button md-raised-button color="primary" type="submit">{{ 'i18n.common.action.save' | translate }}</button>
        </div>
    </div>
</form>
