<div class="dialog-header">
    <h1 md-dialog-title>{{'i18n.modules.manage.schoolYear.add' | translate}}</h1>
</div>
<form [formGroup]="schoolYearForm" (submit)="onSubmit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input md-input [autofocus]="false" [placeholder]="'i18n.modules.manage.schoolYear.form.label' | translate" formControlName="name">
            </md-input-container>
            <div class="form-error" *ngIf="schoolYearForm.get('name').dirty && schoolYearForm.get('name').invalid">
                <span *ngIf="schoolYearForm.get('name').getError('required')">{{'i18n.common.form.error.required' | translate}}</span>
            </div>
        </div>
        <div class="form-group">
            <datepicker formControlName="validFrom" [placeholder]="'i18n.common.label.validFrom' | translate"></datepicker>
            <div class="form-error" *ngIf="schoolYearForm.get('validFrom').invalid && schoolYearForm.get('validFrom').dirty">
                <span *ngIf="schoolYearForm.get('validFrom').hasError('required')">{{'i18n.common.form.error.required' | translate}}</span>
                <span *ngIf="schoolYearForm.get('validFrom').hasError('isAfterDay')">{{getErrorText('validFrom', 'isAfterDay', 'afterDate')}}</span>
            </div>
        </div>
        <div class="form-group">
            <datepicker formControlName="validTo" [placeholder]="'i18n.common.label.validTo' | translate"></datepicker>
            <div class="form-error" *ngIf="schoolYearForm.get('validTo').invalid && schoolYearForm.get('validTo').dirty">
                <span *ngIf="schoolYearForm.get('validTo').hasError('required')">{{'i18n.common.form.error.required' | translate}}</span>
                <span *ngIf="schoolYearForm.get('validTo').hasError('isBeforeDay')">{{getErrorText('validTo', 'isBeforeDay', 'beforeDate')}}</span>
            </div>
        </div>
        <div class="form-error" *ngIf="schoolYearForm.invalid && schoolYearForm.dirty && schoolYearForm.get('validFrom').touched && schoolYearForm.get('validTo').touched">
            <span *ngIf="schoolYearForm.hasError('dateToIsBeforeDateFrom')">{{'i18n.common.form.error.dateToIsBeforeDateFrom' | translate}}</span>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button (click)="onCancel()" type="button">{{'i18n.common.action.cancel' | translate}}</button>
            <button md-raised-button color="primary" type="submit">{{'i18n.common.action.save' | translate}}</button>
        </div>
    </div>
</form>
