<div class="oc-nav-nav">
    <nav>
        <ul>
            <li [matTooltip]="'i18n.modules.dashboard.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button disabled>
                    <mat-icon>dashboard</mat-icon>
                    <span>{{ 'i18n.modules.dashboard.linkTitle' | translate }}</span>
                </a>
            </li>
            <li [matTooltip]="'i18n.modules.timetable.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button disabled>
                    <mat-icon>event</mat-icon>
                    <span>{{ 'i18n.modules.timetable.linkTitle' | translate }}</span>
                </a>
            </li>
            <li [matTooltip]="'i18n.modules.exam.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button routerLink="/exam" routerLinkActive="oc-nav-link-active">
                    <mat-icon>filter_6</mat-icon>
                    <span>{{ 'i18n.modules.exam.linkTitle' | translate }}</span>
                </a>
            </li>
            <li [matTooltip]="'i18n.modules.mark.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button routerLink="/mark" routerLinkActive="oc-nav-link-active">
                    <mat-icon>poll</mat-icon>
                    <span>{{ 'i18n.modules.mark.linkTitle' | translate }}</span>
                </a>
            </li>
            <li [matTooltip]="'i18n.modules.task.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button routerLink="/task" routerLinkActive="oc-nav-link-active">
                    <mat-icon>assignment_turned_in</mat-icon>
                    <span>{{ 'i18n.modules.task.linkTitle' | translate }}</span>
                </a>
            </li>
            <li [matTooltip]="'i18n.modules.manage.linkTitle' | translate" matTooltipPosition="after" [matTooltipDisabled]="!collapsed">
                <a mat-button routerLink="/manage" routerLinkActive="oc-nav-link-active">
                    <mat-icon>widgets</mat-icon>
                    <span>{{ 'i18n.modules.manage.linkTitle' | translate }}</span>
                </a>
            </li>
        </ul>
    </nav>
    <ng-content></ng-content>
</div>
<div class="oc-nav-collapser" *ngIf="collapsible">
    <oc-divider></oc-divider>
    <button mat-button (click)="toggleNavCollapse()">
        <mat-icon>chevron_left</mat-icon>
    </button>
</div>
