@import '../../../../sass/color';

$row-height: 40px;
$collapsed-width: 50px;
$uncollapsed-width: 200px;
$animation-duration: .3s;

oc-nav {
    position: relative;
    transition: all $animation-duration ease-in-out;
    overflow-x: hidden;

    * {
        @extend .text-secondary-dark;
    }

    flex-basis: $uncollapsed-width;

    .oc-nav-nav {
        margin-top: 8px;
        nav {
            width: $uncollapsed-width;
            transition: width $animation-duration ease-in-out;
            ul {
                margin: 0;
                li {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    height: $row-height;

                    a[md-button] {
                        width: $uncollapsed-width;
                        padding: 0;
                        transition: background-color .15s ease-in-out;

                        .mat-button-wrapper {
                            overflow: hidden;
                            span, md-icon {
                                float: left;
                                display: block !important;
                                height: 100% !important;
                                line-height: $row-height !important;
                            }
                            span {
                                width: 150px;
                                text-align: left;
                            }
                            md-icon {
                                width: $collapsed-width !important;
                                text-align: center;
                            }
                        }

                        &.oc-nav-link-active md-icon {
                            @extend .text-accent;
                        }
                    }
                }
            }
        }
    }

    .oc-nav-collapser {
        width: 100%;
        position: absolute;
        bottom: 0;

        transition: min-width $animation-duration ease-in-out;

        button {
            transition: width $animation-duration ease-in-out;
            min-width: $collapsed-width;
            width: 100%;
            text-align: end;
            md-icon {
                transition: transform $animation-duration ease-in-out;
            }
        }
    }
}

oc-nav.oc-nav-collapsed {
    flex-basis: $collapsed-width;
    width: $collapsed-width;
    .oc-nav-nav {
        nav {
            width: $collapsed-width;
        }
    }
    .oc-nav-collapser md-icon {
        transform: rotate(180deg);
    }

}
