md-input-container {
    width: 100%;

    textarea {
        resize: vertical;
    }
}

:host {
    .form-group {
        padding: 0 4px;
    }
}

.form-group.half {
    display: flex;
    align-items: center;
    .half-child {
        width: 50%;
        &:first-child {
            margin-right: 2px;
        }
        &:last-child {
            margin-left: 2px;
        }
        md-select {
            transform: translateY(-2px);
        }
    }
}

md-select {
    width: 100%;
}
