<div class="dialog-header">
    <h1 md-dialog-title>{{ 'i18n.modules.exam.add' | translate }}</h1>
</div>
<form [formGroup]="examCreateUpdateForm" (submit)="submit()">
    <div class="dialog-body" md-dialog-content>
        <div class="form-group">
            <md-input-container>
                <input mdInput [placeholder]="'i18n.modules.exam.dialogs.add.name.label' | translate"
                       formControlName="name">
                <md-error *ngIf="examCreateUpdateForm.get('name').invalid && examCreateUpdateForm.get('name').touched">
                    <ng-template [ngIf]="examCreateUpdateForm.get('name').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <textarea mdInput [placeholder]="'i18n.modules.exam.dialogs.add.desc.label' | translate"
                          formControlName="description"></textarea>
                <md-error
                    *ngIf="examCreateUpdateForm.get('description').invalid && examCreateUpdateForm.get('description').touched">
                    <ng-template [ngIf]="examCreateUpdateForm.get('description').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
        </div>
        <div formGroupName="date" class="form-group">
            <md-input-container>
                <input mdInput [mdDatepicker]="examDatePicker" [min]="today"
                       [placeholder]="'i18n.common.label.todoDate' | translate" formControlName="examDatePicker">
                <button mdSuffix [mdDatepickerToggle]="examDatePicker"></button>
                <md-error align="start"
                          *ngIf="examCreateUpdateForm.get('date.examDate').invalid && examCreateUpdateForm.get('date.examDate').touched">
                    <ng-template [ngIf]="examCreateUpdateForm.get('date.examDate').hasError('required')">
                        {{ 'i18n.common.form.error.required' | translate }}
                    </ng-template>
                </md-error>
            </md-input-container>
            <md-datepicker #examDate [touchUi]="isMobile()"></md-datepicker>
        </div>
        <div class="form-group">
            <md-select formControlName="subjectId">
                <md-option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</md-option>
            </md-select>
        </div>
    </div>
    <div class="dialog-footer" md-dialog-actions>
        <div class="footer-right">
            <button md-button md-dialog-close>{{ 'i18n.common.action.cancel' | translate }}</button>
            <button md-raised-button color="primary" type="submit">{{ 'i18n.common.action.save' | translate }}</button>
        </div>
    </div>
</form>
