<div class="dialog-header">
  <h1 mat-dialog-title
      *ngIf="isEditMode()">{{ 'i18n.modules.manage.schoolClass.edit' | translate }}</h1>
  <h1 mat-dialog-title
      *ngIf="!isEditMode()">{{ 'i18n.modules.manage.schoolClass.add' | translate }}</h1>
</div>
<form [formGroup]="schoolClassForm"
      (submit)="submit()">
  <div class="dialog-body"
       mat-dialog-content>
    <div class="form-group">
      <mat-form-field>
        <input matInput
               required
               [autofocus]="false"
               [placeholder]="'i18n.modules.manage.schoolClass.form.label' | translate"
               formControlName="normalizedName">
        <mat-error *ngIf="schoolClassForm.get('normalizedName').hasError('required')">
          {{ 'i18n.common.form.error.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-footer"
       mat-dialog-actions>
    <div class="footer-right">
      <button mat-button
              mat-dialog-close>
        {{ 'i18n.common.action.cancel' | translate }}
      </button>
      <button mat-raised-button
              color="primary"
              type="submit">
        {{ 'i18n.common.action.save' | translate }}
      </button>
    </div>
  </div>
</form>
