<div class="dialog-header">
    <h3>Create SchoolClass</h3>
</div>
<form [formGroup]="schoolClassForm" (submit)="onSubmit()">
    <div class="dialog-body">
        <md-input placeholder="Enter a School Class name" formControlName="normalizedName"></md-input>
    </div>
    <div class="dialog-footer">
        <div class="footer-right">
            <button md-button (click)="onCancel()" type="button">Cancel</button>
            <button md-raised-button color="primary" type="submit">Save</button>
        </div>
    </div>
</form>
