<oc-title-bar>
    <span>{{ 'i18n.modules.exam.linkTitle' | translate }}</span>
</oc-title-bar>
<div class="container">
    <div [formGroup]="searchForm">
        <md-input-container id="exam-search">
            <input mdInput [placeholder]="'i18n.modules.exam.filter.search' | translate"
                   formControlName="searchTerm">
        </md-input-container>
    </div>
    <md-accordion displayMode="default">
        <exam-list-item *ngFor="let exam of displayedExams"
                        [exam]="exam" (deleteExam)="deleteExam($event)" (editExam)="editExam($event)">
        </exam-list-item>
    </md-accordion>
    <button md-fab [mdTooltip]="'i18n.modules.exam.add' | translate" mdTooltipPosition="left" (click)="addExam()">
        <md-icon>add</md-icon>
    </button>

</div>
