<oc-title-bar>
    <span>{{ 'i18n.modules.exam.linkTitle' | translate }}</span>
</oc-title-bar>
<ng-template #empty>
    <oc-empty hint="i18n.modules.exam.empty.hint"></oc-empty>
</ng-template>
<div fxLayout fxLayoutAlign="center start" *ngIf="_allExams.length > 0; else empty">
    <div class="container" fxFlex fxFlex.gt-sm="960px">
        <md-card class="oc-card">
            <oc-filter-search (onSearch)="search($event)">
                <form ocFilter [formGroup]="filterForm">
                    <md-select formControlName="subjectId"
                               [placeholder]="'i18n.modules.exam.filter.subject' | translate" floatPlaceholder="never">
                        <ng-template ngFor let-subjectClass [ngForOf]="filterData.schoolClassSubjects">
                            <md-option *ngFor="let subject of subjectClass.subjects" [value]="subject.id">
                                {{ subjectClass.schoolClass.normalizedName + ' - ' + subject.name }}
                            </md-option>
                        </ng-template>
                    </md-select>
                    <button md-icon-button (click)="filterForm.controls['subjectId'].setValue(null)">
                        <md-icon>close</md-icon>
                    </button>
                    <md-select multiple formControlName="selectFilter"
                               [placeholder]="'i18n.common.form.filter.additional' | translate"
                               floatPlaceholder="never">
                        <md-option *ngFor="let key of getSelectFilterKeys()" [value]="key">
                            {{ selectFilter[key].displayName | translate }}
                        </md-option>
                    </md-select>
                    <button md-icon-button (click)="filterForm.controls['selectFilter'].setValue([])">
                        <md-icon>close</md-icon>
                    </button>
                </form>
            </oc-filter-search>

            <md-accordion displayMode="flat" *ngIf="displayedExams.length > 0; else emptyFilter">
                <md-expansion-panel *ngFor="let exam of displayedExams">
                    <md-expansion-panel-header>
                <span class="subject-letter-icon"
                      [style.background-color]="'#' + exam.subject.color.hex"
                      [mdTooltip]="exam.subject.name">{{ exam.subject.name | slice:0:1 | uppercase }}</span>
                        <span>{{ exam.name }}</span>
                    </md-expansion-panel-header>
                    <exam-list-item [exam]="exam" (delete)="deleteExam($event)" (edit)="editExam($event)"
                                    (addMark)="addMark$.next($event)">
                    </exam-list-item>
                </md-expansion-panel>
            </md-accordion>
            <ng-template #emptyFilter>
                <oc-empty placeholder="i18n.common.label.noFilterResults"></oc-empty>
            </ng-template>
        </md-card>
    </div>
</div>
<button md-fab
        [mdTooltip]="'i18n.modules.exam.add' | translate"
        mdTooltipPosition="left"
        (click)="addExam()">
    <md-icon>add</md-icon>
</button>
