@import '../../../../sass/color-variables';

$oc-filter-search-height: 56px;
$bottom-inset-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;

:host {
    .oc-search-wrapper {
        position: relative;
        height: $oc-filter-search-height;
        padding: 0 16px;
        box-shadow: $bottom-inset-shadow;
        background-color: $tertiary-light;

        .oc-filter-search-controls {
            display: flex;
            flex-direction: row;
            .oc-search-field-toggler {
                flex-grow: 1;
                display: flex;
                align-items: center;
                cursor: pointer;
                mat-icon {
                    margin: 0 8px;
                }
            }
            .oc-filter, .oc-filter ::ng-deep .oc-filter-form {
                display: flex;
                align-items: center;

                mat-icon {
                    margin: 8px;
                }
            }
        }

    }

    @media (max-width: 600px) {
        .oc-search-wrapper {
            height: auto;
        }
        .oc-filter-search-controls {
            display: flex;
            flex-direction: column !important;
            .oc-filter ::ng-deep .oc-filter-form {
                flex-direction: column;
            }
        }
    }

}
.oc-search-form {
    height: 100%;
    .oc-search-field {
        height: 100%;
        padding: 0 16px;
        box-shadow: $bottom-inset-shadow;
        background-color: white;
        display: flex;
        align-items: center;
        @include mat-elevation(1);

        > mat-icon {
            margin: 0 8px;
        }

        input {
            flex-grow: 1;
            outline: 0;
            border: none;
            font-size: 1.3em;
        }
    }
}
