<div class="oc-search-wrapper">
    <div class="oc-filter-search-controls">
        <div class="oc-search-field-toggler" (click)="openSearchField()">
            <md-icon>search</md-icon>
            <span>{{ placeholder }}</span>
        </div>
        <div class="oc-filter-toggler">
            <ng-content select="[ocFilter]"></ng-content>
        </div>
    </div>
    <div class="oc-search-field" *ngIf="showSearchField">
        <md-icon>search</md-icon>
        <input autofocus>
        <button md-icon-button (click)="showSearchField = !showSearchField">
            <md-icon>close</md-icon>
        </button>
    </div>
</div>
